<%= image_tag customer.get_profile_image(50,50), class:"rounded-circle"; %>
      <%= customer.nickname %></br>
<div class="profile" id="profile">
  <div class="profile-item">
      <button class="profile-button btn btn-outline-warning btn-sm mt-2" type="button" data-toggle="collapse" data-target="#ProfileDropdown" aria-expanded="false" aria-controls="ProfileDropdown" aria-label="Toggle profile">
        プロフィール<i class="fas fa-angle-down"></i>
      </button>
    <div class="collapse profile-collapse" id="ProfileDropdown">
    <div class="profile-body">
  <table class="mt-2">
    <tr>
      <th>身長</th>
      <td><%= customer.height %>cm</td>
    </tr>
    <tr>
      <th>生年月日</th>
      <td><%= customer.birth_dat %></td>
    </tr>
    <tr>
      <th>持ち球</th>
      <td><%= customer.holding_ball %></td>
    </tr>
    <tr>
      <th>ゴルフ歴</th>
      <td><%= customer.history %>年</td>
    </tr>
    <tr>
      <th>得意クラブ</th>
      <td><%= customer.forte_club %></td>
    </tr>
    <tr>
      <th>ひとこと</th>
      <td><%= customer.message %></td>
    </tr>
  </table>
    <% if @customer == current_customer %>
      <%= link_to "編集する", edit_public_customer_path, class:"text-secondary" %>
    <% end %>
    </div>
    </div>
  </div>
</div>

