<div class="container">
  <h4 class="text-center text-secondary mt-4">Member information</h4>
  <% if @customer.errors.any? %>
    <%= @customer.errors.count %>件のエラーが発生しました
    <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= form_with model: @customer, url: public_customer_path(@customer.id), method: :patch do |f| %>
      <div class="d-flex flex-column">
      <p class="text-danger text-center">※は必須項目です</p>
        <div class="row mb-1 justify-content-center">
          <div class="col-12 col-md-4 bg-light py-1"><span class="text-danger">※</span><%= f.label :名前 %></div>
          <div class="col-12 col-md-4 py-1"><%= f.text_field :last_name, class:"form-control form-control-sm" %> <%= f.text_field :first_name, class:"form-control form-control-sm" %></div>
        </div>
        <div class="row mb-1 justify-content-center">
          <div class="col-12 col-md-4 bg-light py-1"><span class="text-danger">※</span><%= f.label :フリガナ %></div>
          <div class="col-12 col-md-4 py-1"><%= f.text_field :last_name_kana, class:"form-control form-control-sm" %> <%= f.text_field :first_name_kana, class:"form-control form-control-sm" %></div>
        </div>
        <div class="row mb-1 justify-content-center">
          <div class="col-12 col-md-4 bg-light py-1"><span class="text-danger">※</span><%= f.label :メールアドレス %></div>
          <div class="col-12 col-md-4 py-1"><%= f.email_field :email, class:"form-control form-control-sm" %></div>
        </div>
        <div class="row justify-content-center text-secondary">〜ここからプロフィール内容として使用〜</span></div>
        <div class="row mb-1 justify-content-center">
          <div class="col-12 col-md-4 bg-light py-1"><%= f.label :プロフィール画像 %></div>
          <div class="col-12 col-md-4 py-1"><%= f.file_field :profile_image, accept: "image/*" %></div>
        </div>
        <div class="row mb-1 justify-content-center">
          <div class="col-12 col-md-4 bg-light py-1"><span class="text-danger">※</span><%= f.label :ニックネーム %></div>
          <div class="col-12 col-md-4 py-1"><%= f.text_field :nickname, class:"form-control form-control-sm" %></div>
        </div>
        <div class="row mb-1 justify-content-center">
          <div class="col-12 col-md-4 bg-light py-1"><%= f.label :身長 %></div>
          <div class="col-12 col-md-4 py-1"><%= f.text_field :height, class:"form-control form-control-sm" %></div>
        </div>
        <div class="row mb-1 justify-content-center">
          <div class="col-12 col-md-4 bg-light py-1"><%= f.label :生年月日 %></div>
          <div class="col-12 col-md-4 py-1"><%= f.text_field :birth_dat, class:"form-control form-control-sm" %></div>
        </div>
        <div class="row mb-1 justify-content-center">
          <div class="col-12 col-md-4 bg-light py-1"><%= f.label :持ち球 %></div>
          <div class="col-12 col-md-4 py-1"><%= f.text_field :holding_ball, class:"form-control form-control-sm" %></div>
        </div>
        <div class="row mb-1 justify-content-center">
          <div class="col-12 col-md-4 bg-light py-1"><%= f.label :ゴルフ歴 %></div>
          <div class="col-12 col-md-4 py-1"><%= f.text_field :history, class:"form-control form-control-sm" %></div>
        </div>
        <div class="row mb-1 justify-content-center">
          <div class="col-12 col-md-4 bg-light py-1"><%= f.label :得意クラブ %></div>
          <div class="col-12 col-md-4 py-1"><%= f.text_field :forte_club, class:"form-control form-control-sm" %></div>
        </div>
        <div class="row mb-1 justify-content-center">
          <div class="col-12 col-md-4 bg-light py-1"><%= f.label :ひとこと %></div>
          <div class="col-12 col-md-4 py-1"><%= f.text_field :message, class:"form-control form-control-sm" %></div>
        </div>
        <div class="text-center">
          <%= f.submit "変更内容を保存", class:" btn btn-secondary btn-sm mt-3" %></br>
          <%= link_to "退会する", public_customer_unsubscribe_path(@customer.id), class:"btn btn-danger btn-sm mt-4" %></p>
        </div>
      </div>
  <% end %>
</div>