<div class="wrapper">
<h4 class="text-center text-secondary mt-3">Member information</h4>
<% if @customer.errors.any? %>
  <%= @customer.errors.count %>件のエラーが発生しました
  <ul>
    <% @customer.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
  <%= form_with model: @customer, url: public_customers_information_path(@customer.id), method: :patch do |f| %>
  <div class="row">
    <div class="col-12 col-sm-10 col-md-6 mx-auto">
      <div class="d-flex flex-column justify-content-center">
  <table class="table table-bordered mt-3">
    <tr>
      <th class="table-light text-secondary"><%= f.label :名前, class:"mt-2" %> </th>
      <td><%= f.text_field :last_name, class:"mt-2" %> <%= f.text_field :first_name, class:"mt-2" %></td>
    </tr>
    <tr>
       <th class="table-light text-secondary"><%= f.label :フリガナ, class:"mt-2" %> </th>
      <td><%= f.text_field :last_name_kana %> <%= f.text_field :first_name_kana, class:"mt-2" %></td>
    </tr>
    <tr>
      <th class="table-light text-secondary"><%= f.label :メールアドレス, class:"mt-2" %></th>
      <td><%= f.email_field :email, class:"mt-2" %></td>
    </tr>
    <tr>
      <td colspan="2"><span class="text-secondary">〜ここからプロフィール内容として使用〜</span></td>
    </tr>
    <tr>
      <th class="table-light text-secondary" ><%= f.label :プロフィール画像, class:"mt-2" %></th>
      <td><%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*", class:"mt-2" %></td>
    </tr>
    <tr>
      <th class="table-light text-secondary"><%= f.label :ニックネーム, class:"mt-2" %></th>
      <td><%= f.text_field :nickname, class:"mt-2" %></td>
    </tr>
    <tr>
      <th class="table-light text-secondary"><%= f.label :身長, class:"mt-2" %></th>
      <td><%= f.text_field :height, class:"mt-2" %>cm</td>
    </tr>
    <tr>
      <th class="table-light text-secondary"><%= f.label :生年月日, class:"mt-2" %></th>
      <td><%= f.text_field :birth_dat, class:"mt-2" %></td>
    </tr>
    <tr>
      <th class="table-light text-secondary"><%= f.label :持ち球, class:"mt-2" %></th>
      <td><%= f.text_field :holding_ball, class:"mt-2" %></td>
    </tr>
    <tr>
      <th class="table-light text-secondary"><%= f.label :ゴルフ歴, class:"mt-2" %></th>
      <td><%= f.text_field :history, class:"mt-2" %>年</td>
    </tr>
    <tr>
      <th class="table-light text-secondary"><%= f.label :得意クラブ, class:"mt-2" %></th>
      <td><%= f.text_field :forte_club, class:"mt-2" %></td>
    </tr>
    <tr>
      <th class="table-light text-secondary"><%= f.label :ひとこと, class:"mt-2" %></th>
      <td><%= f.text_field :message, class:"mt-2" %></td>
    </tr>
  </table>
  <div class="text-center">
      <%= f.submit "変更内容を保存", class: "mt-2" %>
      <%= link_to "退会する", public_customers_unsubscribe_path, class:"btn btn-danger btn-sm ml-5 mt-2" %>
  </div>
      </div>
    </div>
  </div>
  <% end %>
</div>