<h2><%= @customer.nickname %>さんの記録</h2>
<%= link_to "編集する", public_customers_information_edit_path %></br>
  <%= render 'list', customer: @customer %>
<% @post_videos.each do |post_video| %>
  <%= video_tag rails_blob_path(post_video.get_video), :controls => true, :width => "320", :height => "240" %>
  <%= link_to public_post_video_path(post_video.id) do %>
  <%= post_video.created_at.strftime("%Y/%m/%d") %>
  <% end %>
<% end %>
<%= paginate @post_videos %>