
<div class="container">
  <%= notice %>
  <div class="row">
   <div class="profile mt-4" >
     <%= render 'list', customer: @customer %>
   </div>
  </div>
  <div class="row">
      <%= render 'public/post_videos/index', post_videos: @post_videos %>
    <div class="col-sm">
      <div class="form-group mb-3 text-center">
      <%= form_with url: public_post_videos_path, method: :get do |f| %>
       <%= text_field_tag "tag", "", size: 10, placeholder: "タグの追加" %>
       <%= submit_tag '＋' %>
      <% end %>
      </div>
      <div class="bg-light">
        <%= form_with url: public_path(current_customer.id), method: :get do |f| %>
          <% Tag.all.each do |t| %>
            <li><%= check_box :tag_ids, t.name %><%= t.name %></li>
          <% end %>
        <div class="text-center mt-2">
          <%= submit_tag '検索' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

