<div class="container">
  <%= notice %>
  <div class="row">
   <div class="col-4 mt-4" >
     <%= render 'list', customer: @customer %>
   </div>
   <% if @customer == current_customer %>
    <div class="col-4 align-self-center text-center">
    <!--MySwingのキーワード検索欄  -->
     <%= form_with url: my_search_public_post_videos_path, method: :get, local: true do |f| %>
      <%= f.text_field :keyword, value: @keyword, placeholder: "My_swing Search", class:"form-control" %>
     <% end %>
    </div>
    <div class="col-4 align-self-center text-right">
     <%= link_to "投稿する", new_public_post_video_path, class:"text-secondary" %>
    </div>
   <% end %>
  </div>
  <div class="row">
    <!--current_customerの投稿一覧-->
    <%= render 'public/post_videos/search', post_videos: @post_videos %>
    <!--current_customerであればMy_Swingのタグ検索機能表示-->
    <% if @customer == current_customer %>
      <%= render 'public/post_videos/list_2' %>
    <% end %>
  </div>
  <div class="pagination justify-content-center pagination-sm"><%= paginate @post_videos %></div>
</div>

