<h2>動画投稿</h2>
<%= form_with model: @post_video, url: public_posts_path, method: :post do |f| %>
  <div class="field">
    <%= f.label :スウィング動画 %>
    <%= f.file_field :video %>
  </div>
  <div class="field">
    <%= f.label :レポート文 %>
    <%= f.text_field :report %>
  </div>
  <div class="field">
    <%= f.label :タグ付け %>

  </div>
  <div class="actions">
    <%= f.submit "投稿" %>
  </div>
<% end %>