<h2>動画詳細</h2>
<video src="<%= rails_blob_path(@post.get_video) %>" type="video/mp4" controls></video>
<%= image_tag @post.customer.get_profile_image %>
<%= image_tag '山田涼介.png' %>
<%= @customer.last_name %><%= @customer.first_name %>
<%= @post.report %>

<%= @post.created_at %>
<% if @post.customer == current_customer %>
  <%= link_to "削除", public_post_path(@post), method: :delete %>
<% end %>
  <%= link_to "編集", edit_public_post_path %>
  <%= link_to "My Swingページへ", public_posts_path %>