<p> <%= notice %> </p>
<p> <%= alert %> </p>
<div class="container mt-5">
  <div class="row justify-content-center">
    <P>
      ようこそ、Golf Swingへ！</br>
      このサイトは、ゴルフスウィング専用のコミュニティサイトになります。</br>
      ゲストログインでみんなのスウィングの閲覧はできますが</br>
      会員登録をして頂く事で、スウィング投稿や管理ができるようになります。
    </P>
  </div>
  <div class="text-center">
    <%= link_to "ゲストログイン(閲覧用)", public_guest_sign_in_path, method: :post %></br>
    <%= link_to "ログイン", new_customer_session_path %></br>
    <p>または</p>
    <%= link_to "新規登録", new_customer_registration_path %>
  </div>
</div>