<h2>動画編集</h2>
<%= render 'error_messages', post_video: @post_video %>
<%= form_with model:@post_video, url: public_post_video_path(@post_video.id), method: :patch do |f| %>
  <div class="field">
    <%= f.label :スウィング動画 %>
    <%= f.file_field :video %>
  </div>
  <div class="field">
    <%= f.label :レポート文 %>
    <%= f.text_field :report %>
  </div>
  <div class="field">
    <%= f.label :タグ付け %>
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
      <%= tag.label {tag.check_box + tag.text} %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.select :status, PostVideo.statuses.keys.map { |k| [t("enums.post_video.status.#{k}"), k] }, {} %>
  </div>
  <div class="actions">
    <%= f.submit "完了" %>
  </div>
<% end %>