<h2>動画編集</h2>
<%= form_with model:@post_video, url: public_post_video_path(@post_video.id), method: :patch do |f| %>
  <div class="field">
    <%= f.label :スウィング動画 %>
    <%= f.file_field :video %>
  </div>
  <div class="field">
    <%= f.label :レポート文 %>
    <%= f.text_field :report %>
  </div>
  <div class="field">
    <%= f.label :タグ付け %>

  </div>
  <div class="actions">
    <%= f.submit "完了" %>
  </div>
<% end %>