<div class="container">
  <h4 class="text-center mt-4 text-secondary mr-5">Swings</h4>
  <div class="row">
      <%= render 'index', post_videos: @post_videos %>
    <div class="col-sm">
    <div class="form-group mb-3 text-center">
      <%= form_with url: public_post_videos_path, method: :get do |f| %>
       <%= text_field_tag "tag", "", size: 10, placeholder: "タグの追加" %>
       <%= submit_tag '＋' %>
      <% end %>
    </div>
    <div class="bg-light">
      <%= render 'list' %>
    </div>
   </div>
  </div>
</div>
