<%= form_with url: public_post_videos_path, method: :get do |f| %>
  <%= text_field_tag :tag %>
  <%= submit_tag 'タグを追加' %>
<% end %>

<%= render 'list' %>

<h2>みんなのスウィング</h2>
<%= render 'index', post_videos: @post_videos %>