<div class="container">
  <div class="row">
    <div class="col-4">
      <h3 class="mt-4">「<%= @keyword %>」の検索結果</h3>
    </div>
    <div class="col-4 mt-4 text-center">
      <!--MySwingのキーワード検索欄-->
     <%= form_with url: my_search_public_post_videos_path, method: :get, local: true do |f| %>
      <%= f.text_field :keyword, value: @keyword, placeholder: "My_swing Search", class:"form-control" %>
     <% end %>
    </div>
  </div>
 <div class="row">
  <!--current_customerの投稿一覧-->
  <%= render 'search', post_videos: @post_videos %>
  <!--My_Swingのタグ検索-->
  <%= render 'list_2' %>
 </div>
 <div class="pagination justify-content-center pagination-sm"><%= paginate @post_videos %></div>
</div>
