<div class="container">
  <div class="row">
    <div class="col-4">
      <h3 class="mt-4">「<%= @keyword %>」の検索結果</h3>
    </div>
    <div class="col-4 mt-4 text-center">
      <!--MySwingのキーワード検索欄-->
     <%= form_with url: my_search_public_post_videos_path, method: :get, local: true do |f| %>
      <%= f.text_field :keyword, value: @keyword, placeholder: "My_swing Search", class:"form-control" %>
     <% end %>
    </div>
  </div>
 <div class="row">
  <!--current_customerの投稿一覧-->
  <div class="col-12 col-md-9 d-flex flex-wrap mt-4">
    <% @post_videos.each do |post_video| %>
      <% if post_video.customer_id == current_customer.id %>
      <div class="mx-auto h-50">
        <div class="card border-0">
          <%= video_tag rails_blob_path(post_video.get_video), :width => "240", :height => "160" %>
          <div class="card-body text-center pt-0">
            <%= link_to public_post_video_path(post_video.id) do %>
              <%= post_video.created_at.strftime("%Y/%m/%d") %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
  <!--My_Swingのタグ検索-->
  <%= render 'list_2' %>
 </div>
 <div class="pagination justify-content-center pagination-sm"><%= paginate @post_videos %></div>
</div>
