<%= render 'public/customers/list', customer: @customer %>
<h2>動画詳細</h2>
<%= video_tag rails_blob_path(@post_video.get_video), :controls => true, :width => "320", :height => "240" %>
<%= link_to public_path(@customer.id) do %>
  <%= image_tag @post_video.customer.get_profile_image(30,30) %>
<% end %>
<%= @post_video.customer.last_name %><%= @post_video.customer.first_name %>
<%= @post_video.report %></br>
<% @post_video.tags.each do |tag| %>
  <span>#<%= tag.name %></span>
<% end %>
<%= @post_video.created_at.strftime("%m月%d日") %></br>
<% if @post_video.customer == current_customer %>
  <%= link_to "削除", public_post_video_path(@post_video), method: :delete %>
  <%= link_to "編集", edit_public_post_video_path %>
<% end %>
<% if @post_video.bookmarked_by?(current_customer) %>
  <%= link_to "ブックマークを外す", public_post_video_bookmarks_path(@post_video), method: :delete %>
<% else %>
  <%= link_to "ブックマーク", public_post_video_bookmarks_path(@post_video), method: :post %>
<% end %>
<% if @post_video.favorited_by?(current_customer) %>
  <%= link_to public_post_video_favorites_path(@post_video), method: :delete do %>
    ❤️<%= @post_video.favorites.count %>いいね
  <% end %>
<% else %>
  <%= link_to public_post_video_favorites_path(@post_video), method: :post do %>
    ♡<%= @post_video.favorites.count %>いいね
  <% end %>
<% end %>

<p>コメント件数:<%= @post_video.post_comments.count %></p>
<% @post_video.post_comments.each do |post_comment| %>
  <%= image_tag post_comment.customer.get_profile_image(50,50) %>
  <%= post_comment.customer.first_name %>
  <%= post_comment.created_at %><%= post_comment.comment %>
  <% if post_comment.customer == current_customer %>
    <%= link_to "削除", public_post_video_post_comment_path(@post_video, post_comment), method: :delete %>
  <% end %>
<% end %>

<%= form_with model: [@post_video, @post_comment], url: public_post_video_post_comments_path(@post_video) do |f| %>
  <%= f.text_area :comment, rows:'5', placeholder:"コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
