<%= render 'public/customers/list', customer: @customer %>
<h2>動画詳細</h2>
<%= video_tag rails_blob_path(@post_video.get_video), :controls => true, :width => "320", :height => "240" %>
<%= link_to public_path(@customer.id) do %>
  <%= image_tag @post_video.customer.get_profile_image(30,30) %>
<% end %>
<%= @post_video.customer.last_name %><%= @post_video.customer.first_name %>
<%= @post_video.report %></br>
<%= @post_video.created_at.strftime("%m月%d日") %></br>
<% if @post_video.customer == current_customer %>
  <%= link_to "削除", public_post_video_path(@post_video), method: :delete %>
  <%= link_to "編集", edit_public_post_video_path %>
<% end %>