<div class="container">
 <h4 class="text-center mt-4 text-secondary">Video details</h4>
 <%= notice %></br>
 <p class="text-center">※スマートフォンでは、再生ボタンを押すと動画が再生されます。</p>
 <div class="d-flex flex-column justify-content-center">
  <div class="w-50 mx-auto">
    <%= video_tag rails_blob_path(@post_video.get_video), :controls => true, :width => "320", :height => "240", class:"card-img-top"; %>
      <div class="text-right mt-2 mr-3">
        <div id="bookmark_button_<%= @post_video.id %>">
          <%= render 'bookmark', post_video: @post_video %>
        </div>
      </div>
      <div class="body">
        <div class="row">
          <div class="col-2">
            <%= link_to public_customer_path(@customer.id) do %>
              <%= image_tag @post_video.customer.get_profile_image(50,50), class:"rounded-circle"; %>
            <% end %></br>
          </div>
          <div class-"col-10">
            <p><%= @post_video.report %></p>
            <p>
              <% @post_video.tags.each do |tag| %>
                #<%= tag.name %>
              <% end %>
            </p>
            <i class="fas fa-user"></i>By <%= link_to "#{@post_video.customer.nickname}", public_customer_path(@customer.id), class:"text-dark" %> |
            <div id="favorite_button_<%= @post_video.id %>">
              <%= render 'favorite', post_video: @post_video %>
            </div>
          </div>
        </div>
        <p class="text-secondary mt-3"><%= @post_video.created_at.strftime("%m月%d日") %></p>
        <p class="text-right mb-0">
          <% if @post_video.customer == current_customer %>
            <%= link_to "削除", public_post_video_path(@post_video), method: :delete, "data-confirm" => "本当に削除しますか？" %>
            <%= link_to "編集", edit_public_post_video_path %>
          <% end %>
        </p>
      </div>
  </div>
 </div>

  <div class="w-50 bg-light mx-auto">
    <!--コメント一覧部分-->
    <div id="comments_area">
      <%= render 'public/post_comments/post_comment', post_video: @post_video %>
    </div>
    <!--コメントフォーム-->
    <div class="new_comment">
      <%= render 'public/post_comments/form', post_video: @post_video, post_comment: @post_comment %>
    </div>

  </div>
</div>
