<div class="wrapper">
<h4 class="text-center text-secondary mt-3">Sign up</h4>
<%= render "public/shared/error_messages", resource: resource %>
<%= form_with model: @customer, url: customer_registration_path do |f| %>
<div class="row">
  <div class="col-12 col-sm-10 col-md-6 mx-auto">
    <div class="d-flex flex-column justify-content-center">
  <table class="table table-bordered mt-3">
    <tr>
      <th class="table-light text-secondary"><%= f.label :名前, class:"mt-2" %> </th>
      <td><%= f.text_field :last_name, :placeholder => "姓" %> <%= f.text_field :first_name, :placeholder => "名", class:"mt-2" %></td>
    </tr>

    <tr>
      <th class="table-light text-secondary"><%= f.label :フリガナ, class:"mt-2" %> </th>
      <td><%= f.text_field :last_name_kana, :placeholder => "セイ" %> <%= f.text_field :first_name_kana, :placeholder => "メイ", class:"mt-2" %></td>
    </tr>

    <tr>
      <th class="table-light text-secondary"><%= f.label :メールアドレス, class:"mt-2" %></th>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class:"mt-2" %></td>
    </tr>

    <tr>
      <th class="table-light text-secondary"><%= f.label :パスワード（６文字以上）, class:"mt-2" %></th>
      <td><%= f.password_field :password, autocomplete: "new-password", class:"mt-2" %></td>
    </tr>

    <tr>
      <th class="table-light text-secondary"><%= f.label :パスワード（確認用）, class:"mt-2" %></th>
      <td><%= f.password_field :password_confirmation, autocomplete: "new-password", class:"mt-2" %></td>
    </tr>
    <tr>
      <td colspan="2"><span class="text-secondary">〜ここからプロフィール内容として使用〜</span></td>
    </tr>
    <tr>
      <th class="table-light text-secondary" ><%= f.label :プロフィール画像, class:"mt-2" %></th>
      <td><%= f.file_field :profile_image, accept: "image/*", class:"mt-2" %></td>
    </tr>

    <tr>
      <th class="table-light text-secondary"><%= f.label :ニックネーム, class:"mt-2" %></th>
      <td><%= f.text_field :nickname, class:"mt-2" %></td>
    </tr>

    <tr>
      <th class="table-light text-secondary"><%= f.label :身長, class:"mt-2" %></th>
      <td><%= f.text_field :height, class:"mt-2" %>cm</td>
    </tr>

    <tr>
      <th class="table-light text-secondary"><%= f.label :生年月日, class:"mt-2" %></td>
      <td><%= f.text_field :birth_dat, class:"mt-2" %></td>
    </tr>
    <tr>
      <th class="table-light text-secondary"><%= f.label :持ち球, class:"mt-2" %></td>
      <td><%= f.text_field :holding_ball, class:"mt-2" %></td>
    </tr>
    <tr>
      <th class="table-light text-secondary"><%= f.label :ゴルフ歴, class:"mt-2" %></td>
      <td><%= f.text_field :history, class:"mt-2" %>年</td>
    </tr>
    <tr>
      <th class="table-light text-secondary"><%= f.label :得意クラブ, class:"mt-2" %></td>
      <td><%= f.text_field :forte_club, class:"mt-2" %></td>
    </tr>
    <tr>
      <th class="table-light text-secondary"><%= f.label :ひとこと, class:"mt-2" %></td>
      <td><%= f.text_field :message, class:"mt-2" %></td>
    </tr>

  </table>
<div class="text-center">
  <div class="actions">
    <%= f.submit "新規登録", class:"mt-3" %>
  </div>

  <p class="mt-5">既に登録済みの方</p>
    <p class="mt-3"><%= link_to "こちら", new_customer_session_path %> からログインしてください。</p>
</div>
    </div>
  </div>
</div>
<% end %>
</div>