<!DOCTYPE html>
<html>
  <head>
    <title>GolfSwing</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
         <div class="row">
          <a class="navbar-brand" href="/"><%= image_tag('preview-6.jpg') %></a>
          <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
            <% if customer_signed_in? %>
            <div class="col d-flex mt-2 mr-5">
            <li class="nav-item mr-3">
              <%= link_to "Post",  new_public_post_video_path, class: "text-dark" %>
            </li>

            <li class="nav-item mr-3">
              <%= link_to "Drafts",  confirm_public_post_videos_path, class: "text-dark" %>
            </li>

            <li class="nav-item mr-3">
              <%= link_to "About", public_about_path, class: "text-dark" %>
            </li>

            <li class="nav-item mr-3">
              <%= link_to "Mypage", public_path(current_customer.id), class: "text-dark"%>
            </li>

            <li class="nav-item mr-3">
              <%= link_to "Swings", public_post_videos_path, class: "text-dark" %>
            </li>
            <li class="nav-item mr-3">
              <%= link_to "Bookmarks", bookmarks_public_post_videos_path, class: "text-dark" %>
            <li class="nav-item mr-3">
              <%= link_to "Logout", destroy_customer_session_path, method: :delete, class: "text-dark" %>
            </li>
            </div>
            <div class="col d-flex mt-2 ml-5">
              <p class="text-secondary">ようこそ、<%= current_customer.first_name %>さん！</p>
              <div class= "search-form mr-1">
              <%= form_with url: search_public_post_videos_path, method: :get, local: true do |f| %>
                <%= f.text_field :keyword, value: @keyword, placeholder: "Search", class: "border border-secondary" %>
                <%= f.submit "search", class: "fas fa-search text-secondary text-info" %>
              <% end %>
              </div>
            </div>
         </div>
            <% elsif admin_signed_in? %>
            <li class="nav-item mr-3">
              <%= link_to "会員一覧", admin_root_path, class: "text-dark" %>
            </li>
            <li class="nav-item mr-3">
              <%= link_to "コメント一覧", admin_post_comments_path, class: "text-dark" %>
            </li>
            <li class="nav-item mr-3">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "text-dark" %>
            </li>
            <li class="nav-item mr-3">
              <%= link_to "インフォメーション", admin_infomations_path, class: "text-dark" %>
            </li>
            <% else %>
            <li class="nav-item mr-3">
              <%= link_to "About", public_about_path, class: "text-dark" %>
            </li>
            <li class="nav-item mr-3">
              <%= link_to "Signup", new_customer_registration_path, class: "text-dark" %>
            </li>
            <li class="nav-item mr-3">
              <%= link_to "Swings", public_post_videos_path, class: "text-dark" %>
            </li>
            <li class="nav-item mr-3">
              <%= link_to "Login", new_customer_session_path, class: "text-dark" %>
            </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="mb-auto">
      <%= yield %>
    </main>
    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight GolfSwing.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
